        </div>
        <footer class="d-flex align-items-center justify-content-center bg-dark text-light">
            <p class="leaad mt-3">Secrets &copy; All Rights Reserved.</p>
        </footer>
    </body>
</html>