<%- include('partials/header') %>

<div class="container full-height">
  <div class="row justify-content-end">
    <div class="col-md-3 pt-3">
      <a class="btn btn-light btn-lg" href="/register" role="button"
        >Register</a
      >
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 pt-4">
          <div class="text-center mb-4">
            <i class="fas fa-key fa-6x"></i>
            <h1 class="display-3">Secrets</h1>
            <p class="lead">Don't keep your secrets, share them anonymously!</p>
            <hr />
            <a class="btn btn-dark btn-lg" href="/secrets" role="button"
              >Browse Secrets Now!</a
            >
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
  </div>
</div>
