<%- include('partials/header', {btns: ''}) %>

<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-7 text-center">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">Secrets</h1>
      <p class="lead fs-4">Don't keep your secrets, share them anonymously!</p>
      <hr />
      <a href="/login">Sign In</a>
      <span class="mx-3">|</span>
      <a href="/register">Sign Up</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
