<%- include('partials/header', {btns: ''}) %>
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-lg-6">
          <h1 class="text-center display-3 mb-3">Create an Account</h1>
          <hr/>
          <div class="mx-5 px-5">
            <a href="/">Return to Homepage</a>
            <form action="/register" method="POST">
              <input
                class="form-control my-3"
                placeholder="Username"
                type="text"
                name="username"
              />
              <input
                class="form-control mb-3"
                placeholder="Password"
                type="password"
                name="password"
              />
              <button class="w-100 btn btn-dark" type="submit">Sign Up</button>
              <p class="text-center"><%= msg %></p>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>