<%- include('partials/header', {btns: 'logout'}) %>
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-md-8">
        <div class="text-center">
          <h1 class="display-3 mb-3">Welcome back<%= username %></h1>
          <a class="" href="/submit">New Secret</a>
          <span class="mx-3">|</span>
          <a href="/mysecrets">My Secrets</a>
        </div>
        <hr/>
          <div class="row justify-content-center">
        <% secrets.forEach(element =>{ %>
          <div class="secret col-auto text-center align-items-center px-4 py-2 mb-3">
            <h1 class="secret-text lead fs-4"><%= element.secret %></h1>
          </div>
        <% }); %>
        </div>
      </div>
    </div>
  </div>
<%- include('partials/footer') %>
